<!-- <p><input autofocus="autofocus" id="id_login" maxlength="30" name="login" placeholder="Username" type="text" /></p>
<p><input id="id_password" name="password" placeholder="Password" type="password" /></p>
<p><input id="id_remember" name="remember" type="checkbox" /></p> -->

<div class="form-group">
    <input id="id_login" class="form-control" placeholder="Username" name="login" type="text" autofocus>
</div>
<div class="form-group">
    <input id="id_password" class="form-control" placeholder="Password" name="password" type="password" value="">
</div>
<div class="checkbox">
    <label>
        <input id="id_remember" name="remember" type="checkbox" value="Remember Me">Remember Me
    </label>
</div>



<!--                       <p><label for="id_login">Username:</label> <input autofocus="autofocus" id="id_login" maxlength="30" name="login" placeholder="Username" type="text" /></p>
<p><label for="id_password">Password:</label> <input id="id_password" name="password" placeholder="Password" type="password" /></p>
<p><label for="id_remember">Remember Me:</label> <input id="id_remember" name="remember" type="checkbox" /></p> -->